<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefinance.regulation.dao.RegCqContractInfoCoCustomerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lefinance.regulation.domain.RegCqContractInfoCoCustomerInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contract_info_gid" property="contractInfoGid" jdbcType="VARCHAR" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="certificate_type" property="certificateType" jdbcType="VARCHAR" />
    <result column="certificate_no" property="certificateNo" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectByContractInfoGid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, contract_info_gid, customer_type, customer_name, certificate_type, certificate_no,
    linkman, telephone
    from reg_cq_contract_info_co_customer_info
    where contract_info_gid = #{contractInfoGid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reg_cq_contract_info_co_customer_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lefinance.regulation.domain.RegCqContractInfoCoCustomerInfo" >
    insert into reg_cq_contract_info_co_customer_info (id, contract_info_gid, customer_type, 
      customer_name, certificate_type, certificate_no, 
      linkman, telephone)
    values (#{id,jdbcType=INTEGER}, #{contractInfoGid,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{certificateType,jdbcType=VARCHAR}, #{certificateNo,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lefinance.regulation.domain.RegCqContractInfoCoCustomerInfo" >
    update reg_cq_contract_info_co_customer_info
    set contract_info_gid = #{contractInfoGid,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      certificate_type = #{certificateType,jdbcType=VARCHAR},
      certificate_no = #{certificateNo,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, contract_info_gid, customer_type, customer_name, certificate_type, certificate_no, 
    linkman, telephone
    from reg_cq_contract_info_co_customer_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, contract_info_gid, customer_type, customer_name, certificate_type, certificate_no, 
    linkman, telephone
    from reg_cq_contract_info_co_customer_info
  </select>
</mapper>