<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefinance.regulation.dao.RegCqNetbookInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lefinance.regulation.domain.RegCqNetbookInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="return_code" property="returnCode" jdbcType="VARCHAR" />
    <result column="return_desc" property="returnDesc" jdbcType="VARCHAR" />
    <result column="return_data" property="returnData" jdbcType="VARCHAR" />
    <result column="trans_return_code" property="transReturnCode" jdbcType="CHAR" />
    <result column="trans_return_desc" property="transReturnDesc" jdbcType="VARCHAR" />
    <result column="is_success" property="isSuccess" jdbcType="BIT" />
    <result column="next_time" property="nextTime" jdbcType="TIMESTAMP" />
    <result column="retry_num" property="retryNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="batch_gid" property="batchGid" jdbcType="VARCHAR" />
    <result column="report_time" property="reportTime" jdbcType="TIMESTAMP" />
    <result column="report_type" property="reportType" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
    <result column="loan_cate" property="loanCate" jdbcType="VARCHAR" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="certificate_type" property="certificateType" jdbcType="VARCHAR" />
    <result column="certificate_no" property="certificateNo" jdbcType="VARCHAR" />
    <result column="con_customer_type" property="conCustomerType" jdbcType="VARCHAR" />
    <result column="con_customer_name" property="conCustomerName" jdbcType="VARCHAR" />
    <result column="con_certificate_type" property="conCertificateType" jdbcType="VARCHAR" />
    <result column="con_certificate_no" property="conCertificateNo" jdbcType="VARCHAR" />
    <result column="con_fee" property="conFee" jdbcType="DECIMAL" />
    <result column="contract_amount" property="contractAmount" jdbcType="DECIMAL" />
    <result column="contract_sign_date" property="contractSignDate" jdbcType="VARCHAR" />
    <result column="int_rate" property="intRate" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="reserved_field1" property="reservedField1" jdbcType="VARCHAR" />
    <result column="reserved_field2" property="reservedField2" jdbcType="VARCHAR" />
    <result column="reserved_field3" property="reservedField3" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, gid, create_time, update_time, create_user, update_user, return_code, return_desc,
    return_data, trans_return_code, trans_return_desc, is_success, next_time, retry_num,
    status, batch_gid, report_time, report_type, org_code, contract_no, loan_cate, customer_type,
    customer_name, certificate_type, certificate_no, con_customer_type, con_customer_name,
    con_certificate_type, con_certificate_no, con_fee, contract_amount, contract_sign_date,
    int_rate, remark, reserved_field1, reserved_field2, reserved_field3
  </sql>

  <select id="selectBatchForUpload" parameterType="com.lefinance.regulation.domain.RegCqNetbookInfo"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from reg_cq_netbook_info
    where is_success = #{isSuccess,jdbcType=BIT}
    and status=#{status,jdbcType=INTEGER}
    and retry_num <![CDATA[  <  ]]> #{retryNum,jdbcType=INTEGER}
    limit 100
  </select>

  <update id="updateByBatchGid" parameterType="com.lefinance.regulation.domain.RegCqNetbookInfo">
    update reg_cq_netbook_info
    set update_time = #{updateTime,jdbcType=TIMESTAMP},
    update_user = #{updateUser,jdbcType=VARCHAR},
    status = #{status,jdbcType=INTEGER},
    is_success = #{isSuccess,jdbcType=BIT}
    where batch_gid = #{batchGid,jdbcType=VARCHAR}
  </update>

  <select id="selectByBatchGid"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from reg_cq_netbook_info
    where batch_gid = #{batchGid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reg_cq_netbook_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lefinance.regulation.domain.RegCqNetbookInfo" >
    insert into reg_cq_netbook_info (id, gid, create_time, 
      update_time, create_user, update_user, 
      return_code, return_desc, return_data, 
      trans_return_code, trans_return_desc, is_success, 
      next_time, retry_num, status, 
      batch_gid, report_time, report_type, 
      org_code, contract_no, loan_cate, 
      customer_type, customer_name, certificate_type, 
      certificate_no, con_customer_type, con_customer_name, 
      con_certificate_type, con_certificate_no, con_fee, 
      contract_amount, contract_sign_date, int_rate, 
      remark, reserved_field1, reserved_field2, 
      reserved_field3)
    values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{returnCode,jdbcType=VARCHAR}, #{returnDesc,jdbcType=VARCHAR}, #{returnData,jdbcType=VARCHAR}, 
      #{transReturnCode,jdbcType=CHAR}, #{transReturnDesc,jdbcType=VARCHAR}, #{isSuccess,jdbcType=BIT}, 
      #{nextTime,jdbcType=TIMESTAMP}, #{retryNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{batchGid,jdbcType=VARCHAR}, #{reportTime,jdbcType=TIMESTAMP}, #{reportType,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, #{loanCate,jdbcType=VARCHAR}, 
      #{customerType,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{certificateType,jdbcType=VARCHAR}, 
      #{certificateNo,jdbcType=VARCHAR}, #{conCustomerType,jdbcType=VARCHAR}, #{conCustomerName,jdbcType=VARCHAR}, 
      #{conCertificateType,jdbcType=VARCHAR}, #{conCertificateNo,jdbcType=VARCHAR}, #{conFee,jdbcType=DECIMAL}, 
      #{contractAmount,jdbcType=DECIMAL}, #{contractSignDate,jdbcType=VARCHAR}, #{intRate,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, 
      #{reservedField3,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lefinance.regulation.domain.RegCqNetbookInfo" >
    update reg_cq_netbook_info
    set gid = #{gid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      return_code = #{returnCode,jdbcType=VARCHAR},
      return_desc = #{returnDesc,jdbcType=VARCHAR},
      return_data = #{returnData,jdbcType=VARCHAR},
      trans_return_code = #{transReturnCode,jdbcType=CHAR},
      trans_return_desc = #{transReturnDesc,jdbcType=VARCHAR},
      is_success = #{isSuccess,jdbcType=BIT},
      next_time = #{nextTime,jdbcType=TIMESTAMP},
      retry_num = #{retryNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      batch_gid = #{batchGid,jdbcType=VARCHAR},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      report_type = #{reportType,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      loan_cate = #{loanCate,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      certificate_type = #{certificateType,jdbcType=VARCHAR},
      certificate_no = #{certificateNo,jdbcType=VARCHAR},
      con_customer_type = #{conCustomerType,jdbcType=VARCHAR},
      con_customer_name = #{conCustomerName,jdbcType=VARCHAR},
      con_certificate_type = #{conCertificateType,jdbcType=VARCHAR},
      con_certificate_no = #{conCertificateNo,jdbcType=VARCHAR},
      con_fee = #{conFee,jdbcType=DECIMAL},
      contract_amount = #{contractAmount,jdbcType=DECIMAL},
      contract_sign_date = #{contractSignDate,jdbcType=VARCHAR},
      int_rate = #{intRate,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      reserved_field1 = #{reservedField1,jdbcType=VARCHAR},
      reserved_field2 = #{reservedField2,jdbcType=VARCHAR},
      reserved_field3 = #{reservedField3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, gid, create_time, update_time, create_user, update_user, return_code, 
    return_desc, return_data, trans_return_code, trans_return_desc, is_success, next_time, 
    retry_num, status, batch_gid, report_time, report_type, org_code, contract_no, loan_cate, 
    customer_type, customer_name, certificate_type, certificate_no, con_customer_type, 
    con_customer_name, con_certificate_type, con_certificate_no, con_fee, contract_amount, 
    contract_sign_date, int_rate, remark, reserved_field1, reserved_field2, reserved_field3
    from reg_cq_netbook_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, gid, create_time, update_time, create_user, update_user, return_code, 
    return_desc, return_data, trans_return_code, trans_return_desc, is_success, next_time, 
    retry_num, status, batch_gid, report_time, report_type, org_code, contract_no, loan_cate, 
    customer_type, customer_name, certificate_type, certificate_no, con_customer_type, 
    con_customer_name, con_certificate_type, con_certificate_no, con_fee, contract_amount, 
    contract_sign_date, int_rate, remark, reserved_field1, reserved_field2, reserved_field3
    from reg_cq_netbook_info
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.lefinance.regulation.domain.RegCqNetbookInfo" >
    update reg_cq_netbook_info
    <set >
      <if test="gid != null" >
        gid = #{gid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null" >
        return_code = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnDesc != null" >
        return_desc = #{returnDesc,jdbcType=VARCHAR},
      </if>
      <if test="returnData != null" >
        return_data = #{returnData,jdbcType=VARCHAR},
      </if>
      <if test="transReturnCode != null" >
        trans_return_code = #{transReturnCode,jdbcType=CHAR},
      </if>
      <if test="transReturnDesc != null" >
        trans_return_desc = #{transReturnDesc,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        is_success = #{isSuccess,jdbcType=BIT},
      </if>
      <if test="nextTime != null" >
        next_time = #{nextTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retryNum != null" >
        retry_num = #{retryNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="batchGid != null" >
        batch_gid = #{batchGid,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null" >
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportType != null" >
        report_type = #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        contract_no = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="loanCate != null" >
        loan_cate = #{loanCate,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null" >
        certificate_type = #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="certificateNo != null" >
        certificate_no = #{certificateNo,jdbcType=VARCHAR},
      </if>
      <if test="conCustomerType != null" >
        con_customer_type = #{conCustomerType,jdbcType=VARCHAR},
      </if>
      <if test="conCustomerName != null" >
        con_customer_name = #{conCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="conCertificateType != null" >
        con_certificate_type = #{conCertificateType,jdbcType=VARCHAR},
      </if>
      <if test="conCertificateNo != null" >
        con_certificate_no = #{conCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="conFee != null" >
        con_fee = #{conFee,jdbcType=DECIMAL},
      </if>
      <if test="contractAmount != null" >
        contract_amount = #{contractAmount,jdbcType=DECIMAL},
      </if>
      <if test="contractSignDate != null" >
        contract_sign_date = #{contractSignDate,jdbcType=VARCHAR},
      </if>
      <if test="intRate != null" >
        int_rate = #{intRate,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null" >
        reserved_field1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null" >
        reserved_field2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null" >
        reserved_field3 = #{reservedField3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>